@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#canvas{
    width: 80%;
}
#info-canvas{
    width: 60%;
}
#info-canvas-mobile{
    width: 60%;
}
#projects-canvas{
    width: 60%;
}
#stack-canvas{
    width: 70%;
    position: relative;
}
.title-stack{
    color: #343a40;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 20px;
}
.text-stack{
    color: #343a40;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
}

.title-infos{
    color: #343a40;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    /* font-size: 20px; */
}
.text-infos{
    color: #343a40;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    /* font-size: 13px; */
}
