@import url('https://fonts.googleapis.com/css2?family=Danfo&display=swap');

body{
    font-family: "Danfo", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "ELSH" 0;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }